.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 128px;
    padding: 0 16px;
    height: 35px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 2px;
}

.icon {
    display: inline-block;
    font-size: 1.6rem;
    width: 24px;
    text-align: center;
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: #0b60b5;
        background-color: #0b60b5;
    }
}

.red {
    color: #fff;
    background-color: #ed4747;
    border-color: #ed4747;

    &:hover {
        border-color: #cf3e3e;
        background-color: #cf3e3e;
    }
}

.green {
    color: #fff;
    background-color: #63d16e;
    border-color: #63d16e;

    &:hover {
        border-color: #49ad53;
        background-color: #49ad53;
    }
}

.yellow {
    color: #fff;
    background-color: #ebc564;
    border-color: #ebc564;

    &:hover {
        border-color: #d8b458;
        background-color: #d8b458;
    }
}

.gray {
    color: #3c3c3c;
    background-color: #e0e0e0;
    border-color: #e0e0e0;

    &:hover {
        border-color: #d1d1d1;
        background-color: #d1d1d1;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    min-width: 64px;
    height: 28px;
    padding: 0 12px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

// square
.square.small {
    min-width: 28px;
    width: 28px;
}
.square {
    width: 35px;
    min-width: 35px;
}
