.wrapper {
    display: inline-flex;
    color: #393939;
    align-items: center;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.icon {
    font-size: 1.3rem;
    &.reload {
        animation: spinning 1s infinite linear;
    }
}

.text {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 3px;
}

@keyframes spinning {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}
