@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --primary: #4b96c9;
    --text-dark: #333;
    --text: #3c3c3c;
    --input-border: #a0a0a0;
    --red: #df1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.heading-list {
    font-weight: 600;
    margin-right: 15px;
    color: var(--text-dark);
}
